<header>
  <a class="logo"
     aria-label="Página Inicial"
     ariaCurrentWhenActive="page"
     routerLinkActive="active-page"
    routerLink="/lista-livros">
    <img
      src="assets/imagens/logo.png"
      alt="Logo da aplicação Buscante">
  </a>
  <nav>
    <a
      aria-label="Mais Informações"
      ariaCurrentWhenActive="page"
      routerLinkActive="active-page"
      routerLink="/sobre">Sobre
    </a>
    <a
      aria-label="Contato"
      ariaCurrentWhenActive="page"
      routerLinkActive="active-page"
      routerLink="/contato">Contato
    </a>
  </nav>
</header>

