<section class="main">
  <app-input [itemQueVaiSerEditado]="itemParaEditar"> </app-input>
  <div class="container">
    <div class="lista">
      <div class="header-lista">
        <h4 class="title-list">Lista de Compras</h4>
        <button class="btn-header" (click)="limparLista()">Limpar Lista</button>
      </div>
      <div *ngIf="listaDeCompra.length !== 0; else naoItem">
        <div *ngFor="let item of listaDeCompra">
          <!--Item declarado no item component com o input para receber valor de um elemento pai, [item]="item" item de item component recebe item do app component da repetição-->
          <app-item
            [item]="item"
            (emitindoItemParaEditar)="editarItem($event)"
            (emitindoIdParaDeletar)="deletarItem($event)"
          ></app-item>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #naoItem>
  <small>Não possui itens</small>
</ng-template>
